@font-face {
  font-family: DukasCFBold-Regular;
  src: url(../font/DukasCFBold-Regular.woff);
}

@font-face {
  font-family: DukasCFSemiBold-Regular;
  src: url(../font/DukasCFSemiBold-Regular.woff);
}

@font-face {
  font-family: DukasCF-Regular;
  src: url(../font/DukasCFRegular-Regular.woff);
}

.bold-reg {
    font-family: DukasCFBold-Regular !important;
}

.reg {
    font-family: DukasCF-Regular !important;
}

body{
    background-color: #ffcc00ff;
    height: 100vh;
    width: 100%;
}

