{% extends "layout.html" %}

<!-- HEADER -->
<h1>Users</h1>
<!-- END OF HEADER -->

<ul class="uk-list uk-list-divider">
    <li>
		<div>
			<label class="uk-text-meta">Name</label>
			<p>{{ data.name }}</p>
		</div>
	</li>
    <li>
		<div>
			<label class="uk-text-meta">Username</label>
			<p>{{ data.username }}</p>
		</div>
	</li>
    <li>
		<div>
			<label class="uk-text-meta">Email</label>
			<p>{{ data.email }}</p>
		</div>
	</li>
    <li>
		<div>
			<label class="uk-text-meta">Status</label>
			{% if data.is_active == 1%}
				<span class="uk-label">Active</span>
			{% else %}
				<span class="uk-label">Inactive</span>
			{% endif %}
		</div>
	</li>
</ul>
