<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome - Metric</title>
		<link rel="stylesheet" href="/css/uikit.min.css" />
		<link rel="stylesheet" href="/css/uikit-rtl.min.css" />
		<link rel="stylesheet" href="/css/metric.css" />
	</head>
	<body>
		<div class="uk-container uk-margin uk-padding">
			<div class="uk-card uk-card-default uk-width-expand">
				<div class="uk-card-header">
					<div class="uk-grid-small uk-flex-middle" uk-grid>
						<div class="uk-width-auto">
							<img width="100" height="100" src="/img/logo.svg">
						</div>
						<div class="uk-width-expand">
							<h1 class="uk-margin-remove-bottom uk-heading-large bold-reg">Metric</h1>
						</div>
					</div>
				</div>
				<div class="uk-card-body">
					<h3>Welcome to Metric Framework!</h3>
					<p>
						Metric is framework built for web application development with elegant, structured, and simple.
						Metric provide not just only core tools for web application development, but it also built-in
						with rich resources for any purpose,allowing you to focus with your idea and expand it without
						worries.
					</p>
				</div>
				<div class="uk-card-footer">
					<a href="https://github.com/metric-python/metric" uk-icon="icon: github; ratio: 2" class="uk-margin-right"></a>
					<a href="#" uk-icon="icon: facebook; ratio: 2" class="uk-margin-right"></a>
					<a href="#" uk-icon="icon: youtube; ratio: 2" class="uk-margin-right"></a>
				</div>
			</div>
			<p class="uk-text-center">
				<a href="" class="uk-text-secondary">Powered by <span uk-icon="icon: uikit; ratio: .7" ></span></a>
			</p>
		</div>
		<script src="/js/uikit.min.js"></script>
		<script src="/js/uikit-icons.min.js"></script>
	</body>
</html>